{% extends 'store/base.html' %}

{% block title %}Пополнить баланс{% endblock %}

{% block content %}
    <main class="container my-4">
        <h2>Пополнить баланс</h2>
        <div class="profile-details">
            <p><strong>Текущий баланс:</strong> ₽{{ current_balance }}</p>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="amount" class="form-label">Сумма пополнения (₽)</label>
                {{ form.amount }}
                {% if form.amount.errors %}
                    <div class="text-danger">
                        {{ form.amount.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Пополнить</button>
            <a href="{% url 'store:profile' request.user.username %}" class="btn btn-secondary">Отмена</a>
        </form>
    </main>
{% endblock %}